header {
    background-color: black;
    color: white;
    height: 20vh;
    min-height: 120px;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    border-bottom: 5px solid silver;
}


header h1 {
    color: rgb(33, 138, 236);
}

header .mainTitle {
    justify-content: center !important;
}